card{
    height: 100px;
    width: auto;
    display: flex;
    flex-wrap: nowrap;
}

#userCards{
    height: auto;
    width: 100vw;
    display: flex;
    flex-wrap: wrap
}

#schedule-wrapper{
    display: flex;
    flex-direction: row;
}

.day-col{
    display: flex;
    flex-direction: column;
    width: 33vw;
    height: 1000px;
    flex-wrap: nowrap;
}

.event{
    display:flex;
    flex-direction: column;
    text-align: center;
    width: 33vw;
    height: 100px;
}

.delete-radio{
    display: none;
}

.scheduled{
    background-color: rgb(67, 129, 210);
}
.scheduled .delete-radio{
    display: block;
}

.scheduled .add-radio{
    display: none;
}




