body{
    background-image: url("/assets/danny-howe-762860-unsplash.jpg");
    background-size:cover ;
    background-attachment: fixed;
    font-family: 'Asul', sans-serif;
}
#userCards{
    height: auto;
    width: 100vw;
    display: flex;
    flex-wrap: wrap
}

#schedule-wrapper{
    display: flex;
    flex-direction: row;
}

.day-col{
    display: flex;
    flex-direction: column;
    width: 33vw;
    height: 1000px;
    flex-wrap: nowrap;
}

.event{
    display:flex;
    flex-direction: column;
    text-align: center;
    width: 33vw;
    height: 100px;
    border: #B5ACA3 3px solid;
    border-radius: 15%;
    background-color: #D8E0CE;
}

.delete-radio{
    display: none;
}

.scheduled{
    background-color: #D8E0CE;
}

.not-scheduled{
    background-color: #D95D39;
}

.scheduled .delete-radio{
    display: block;
}

.scheduled .add-radio{
    display: none;
}




