<nav class="level">
    <div class="level-left">

        <div class="level-item">
            <h1>Current Users</h1>
        </div>
    </div>
    <div class="level-right">
        <div class="level-item">
            <a class="button is-success" href="/new">Get Started</a>
        </div>
    </div>
</nav>
<div id="userCards" class="tile is-parent">

    {{#each users}}
    <div class="tile users is-child box">
        <p class="title">{{name}}</p>
        <p>Likes: {{schedule.day1.0.performer}} and {{schedule.day2.0.performer}}!
        </p>
        <a class="button is-success" href="/{{_id}}">Choose</a>
    </div>
    {{/each}}
    <div class="tile is-child box">

    </div>

</div>