<h1>Thie is the new form</h1>
<p>Fill this form out to create your user account</p>
<form action="/" method="POST">
    <input type="text" name="name" placeholder="Name" value="">
    <input type="text" name="email" placeholder="Email" value="">
    <button type="submit" class="button is-success">Submit</button>
</form>